/* Global */
@media only screen and (min-width: 0rem) {
    /* Debug code tip */
    /* * {
        background: #000 !important;
        color: #0f0 !important;
        outline: solid #f00 1px !important;
      } */
    body { 
        margin: 0;
        padding: 3% 0 1rem 3%;
        font-family: 'Open Sans', sans-serif;
        width: 100vw;
        overflow-x: hidden;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        letter-spacing: 0.05rem;
        
    }
    html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    
}
    a {
        text-decoration: none;
        cursor: pointer;
    }
    button {
        all: unset;

    }
    button:hover {
        cursor: pointer;
    }
    button > * {
        pointer-events: none;
    }
    button:focus {
        outline: revert;
      }
    
      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 0.5rem 0;
        padding: 0;
        opacity: 0.4;
    }
    
    ul {
        margin: 0; 
        list-style-type: none;
    }
    
    a {
        color: inherit;
    }

    section {
        /* width: 100%; */
        max-width: 100%;
        margin: 0;
        padding: 0;
        
    }
}


/* DESKTOP */
@media only screen and (min-width: 0rem) {
   /* HEADER SECTION */
    #left {
        width: 60%;
        background-color: lightblue;
        
       
        
    }
    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 0 0 1.5rem 0;
        
    }
    #text-music-mash {
        font-size: 1.5rem;
        font-weight: 100;
        margin: 0;
    }
    #span-user {
        font-size: 0.8rem;
        color: #bababa;
        font-weight: 100;
    }
    .user-container {
        display: flex;
        flex-direction: row;
        align-items: center;
   
        
    
    }
   #img-gear-container {
    display: flex;
    width: 17%;
 
   }
    #img-gear-container img {
        width: 100%;
        padding: 0 0 0 0.5rem;
    }


    /* CATEGORIES SECTION */
    .categories-container {
        display: flex;
        width: 100%;
        padding: 0 0 0 1rem;
       
    }
    .categories-container button {
        background-color: #302f41;
        color: white;
        margin: 0 2% 0 0;
        padding: 1% 2%;
        font-weight: 100;
        font-size: 60%;
        width: 15%;
        border-radius: 0.2rem;
        
    }
    .categories-container button:hover {
        background-color: rgb(137, 192, 255);
    }
    #text-search {
        border-radius: 0;
        background-color: #302F41;
        padding: 0 0 0 2%;
        color: #bababa;
    }
    #text-search::placeholder {
        color: #bababa;
        font-weight: 100;
        font-size: 0.7rem;
       
    }


    /* MUSIC BOX */
    #music-box-container {
        background-color: lightcyan;
        position: relative;
        padding: 1rem;
        min-height: 20rem;

    }
    .playlist-panel {
        display: flex;
        flex-direction: column;
        position: absolute;
        border-radius: 0 0.2rem 0.2rem 0;
        background-color: #302F41;
        
        
    }
    #left-panel {
        right: -2rem;
    }
    .playlist-panel-content {
        width: 1rem;
       
        padding: 0.5rem;
    }
    .playlist-panel-content img {
        filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(57deg) brightness(103%) contrast(101%);
        width: 100%;
    }
    

    .music-box-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }
    .music-box-header h2 {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .search-bar {
        width: 9rem;
        height: 1.4rem;
        border: none;
        padding: 0 0 0 2%;

    }

    .music-box {
        width: 100%;
        min-height: 18rem;
        background-color: rgb(225, 198, 162);
        overflow: scroll;
        
    }



    #right {
        background-color: cadetblue;
        width: 40%;
        margin: 0 3rem 0 5rem;
    }

    /* START MASH */
    #start-mash {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .icon-plus-container {
        display: flex;
        justify-content: center;
        
    }
    .icon-plus-item {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #302F41;
        width: 5rem;
        margin: 0 5%;
        border-radius: 0.2rem;

    }
    .icon-plus {
        filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(57deg) brightness(103%) contrast(101%);
        padding: 2rem;
        width: 20%;
        /* background-color: #302F41; */
    }
    #button-mash-container {
        display: flex;
        justify-content: center ;
        margin: 5% 0;
    }
    #button-mash {
        background-color: #302F41;
        padding: 1% 2%;
        color: white;
        font-weight: 100;
        font-size: 0.8rem;
        border-radius: 0.2rem;

        
       
    }
    #button-mash:hover {
        background-color: rgb(137, 192, 255);

    }
    #mashed-playlist {
        display: flex;
        justify-content: center;
       

    }
    #mashed-playlist-container {
        position: relative;
        min-height: 16rem;
        width: 90%;
        background-color: aqua;
        padding: 1rem;
    }
    #right-panel {
        right: -2rem;
    }
    #mashed-playlist h1 {
        font-weight: 500;
        text-align: center;
    
    }
    #mashed-playlist-content {
        background-color: beige;
        min-height: 12rem;

    }






}
